@page "/admin/student/details/{parentId}"
@inject NavigationManager route
@inject StudentController http
@inject ParentController par
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles ="Admin,Teacher")]

<div class="container-fluid">
    <h3 class="text-dark mb-4"> Student Details </h3>
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body text-center shadow">
                    <img class="rounded-circle mb-3 mt-4" src="@student.ImgPath" width="160" height="160">
                    <EditForm Model="@upload">
                      <div class="mb-3"><InputFile  OnChange="@ImgPost" accept="*/image" class="form-control" type="file"  /></div>
                     </EditForm>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0">Details</h6>
                </div>
                <div class="card-body">
                    <h4 class="small fw-bold" style="color: var(--bs-indigo);font-size: 20px;font-weight: bold;font-style: italic;">@student.FirstName&nbsp;@student.MiddleName&nbsp;@student.LastName</h4>
                    <h4 class="small fw-bold" style="font-weight: bold;font-style: italic;font-size: 18px;">@student.Class</h4>
                    <h4 class="small fw-bold" style="font-size: 18px;font-weight: bold;font-style: italic;">@student.Sex</h4>
                    <div>
                        <h4 class="small fw-bold" style="font-weight: bold;font-style: italic;font-size: 18px;"></h4>
                        <h4 class="small fw-bold" style="font-weight: bold;font-style: italic;font-size: 18px;"></h4>
                        <h4 class="small fw-bold" style="font-weight: bold;font-style: italic;font-size: 18px;"></h4>
                    </div>
                    <h4 class="small fw-bold" style="font-weight: bold;font-style: italic;font-size: 18px;"></h4>

                </div>
            </div>
            <h4><a href="/admin/add/result/@student.StudentId" class="btn btn-lg btn-primary">Add Result</a></h4>
            <h4><a class="btn btn-lg btn-success" href="/admin/view/result/@student.StudentId">View Results</a></h4>
        </div>
        <div class="col-lg-8">
            <div class="row mb-3 d-none">
                <div class="col">
                    <div class="card textwhite bg-primary text-white shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card textwhite bg-success text-white shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold"> Student Info </p>
                        </div>
                        <div class="card-body">
                            <EditForm Model="@student">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"><strong>First Name</strong></label>
                                            <InputText @bind-Value="@student.FirstName" class="form-control" type="text" id="username" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"><strong>Middle Name</strong></label>
                                            <InputText @bind-Value="@student.MiddleName" class="form-control" type="email" id="email" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"><strong>Last Name</strong></label>
                                            <InputText @bind-Value="@student.LastName" class="form-control" type="text" id="first_name" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"><strong>Origin State</strong></label>
                                            <InputText @bind-Value="@student.OriginState" class="form-control" type="text" id="last_name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"><strong>Sex</strong>:&nbsp;@student.Sex&nbsp;</label>
                                            <InputSelect @bind-Value="@student.Sex">
                                                @foreach (var sex in Enum.GetValues(typeof(Sex)))
                                                {
                                                    <option value="@sex">@sex</option>
                                                }
                                            </InputSelect>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"><strong>Class</strong></label>
                                           <InputSelect @bind-Value="@student.Class">
                                            @foreach (var item in Enum.GetValues(typeof(Class)))
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        </InputSelect>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"><strong>Student ID</strong></label>
                                            <InputText @bind-Value="@studentId" class="form-control" disabled="disabled" type="text" id="first_name-3" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"><strong>Date of Birth</strong></label>
                                            <InputText @bind-Value="@student.DOB" class="form-control" type="date" id="last_name-3" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3"></div>
                            </EditForm>
                        </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Parent info </p>
                        </div>
                        <div class="card-body">

                            <EditForm Model="@parent" OnValidSubmit="UpdateStudent">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"><strong>Parent Name</strong></label>
                                            <InputText @bind-Value="@parent.ParentName" class="form-control" type="text" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"><strong>Occupation</strong><br></label>
                                            <InputText @bind-Value="@parent.Occupation" class="form-control" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"><strong>Phone Number 1</strong></label>
                                            <InputText @bind-Value="@parent.PhoneNumber_1" class="form-control" type="text" id="city-1" name="city" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"><strong>Phone Number 2</strong><br></label>
                                            <InputText @bind-Value="@parent.PhoneNumber_2" class="form-control" type="text" id="country-1" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label"><strong>City</strong></label>
                                    <InputText @bind-Value="@parent.City" class="form-control" type="text" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label"><strong>Email</strong></label>
                                    <InputText @bind-Value="@parent.Email" class="form-control" type="text" id="address" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label"><strong>Address 1</strong></label>
                                    <InputText @bind-Value="@parent.Address_1" class="form-control" type="text" id="address" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label"><strong>Address 2</strong></label>
                                    <InputText @bind-Value="@parent.Address_2" class="form-control" type="text" id="address-1" />
                                </div>

                                <button class="btn btn-primary w-100" type="submit">Update</button>

                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    public string studentId { get; set; }
    [Parameter]
    public string parentId { get; set; }
    public Student student = new Student();
    public ParentInfo parent = new ParentInfo();


    protected override async Task OnInitializedAsync()
    {
        await this.GetParent();
    }

    public enum Sex
    {
        NULL,
        MALE,
        FEMALE
    }

     public enum Class
    {
        NULL,
        DISCOVERY,
        NURSERY_1,
        NURSERY_2,
        BASIC_1,
        BASIC_2,
        BASIC_3,
        BASIC_4,
        BASIC_5,
        BASIC_6,
        JSS1,
        JSS2,
        JSS3,
        SS1,
        SS2,
        SS3
    }
   
    public async Task ImgPost(InputFileChangeEventArgs args)
    {
        var file = args.File;
        var stream = file.OpenReadStream(20000000); 
        var p = $"wwwroot\\StaticFiles\\{file.Name}";
        var create = File.Create(p);
        await stream.CopyToAsync(create);
        create.Close();
        stream.Close();
        student.ImgPath = p;
    }
 
    private async Task GetStudent(Guid studentId)
    {
        try
        {
            var res = await this.http.GetStudent(studentId);
            this.student = res;
            this.upload.dbPath = res.ImgPath;



        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }


    private async Task GetParent()
    {
        try
        {
            var res = await this.par.GetParentInfo(Guid.Parse(parentId));
            this.parent = res; await this.GetStudent(res.StudentId);
            this.studentId = res.StudentId.ToString();
           

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

     public class Upload
    {
        public string dbPath{ get; set; }
    }
    public Upload upload = new();
    

    private async Task UpdateStudent()
    {
        try
        {
            var res = await this.http.PutStudent(Guid.Parse(studentId),student);
            await this.UpdateParent();

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

    }

    private async Task UpdateParent()
    {
        try
        {
            var res = await this.par.PutParentInfo(Guid.Parse(parentId),parent);
            await this.GetParent();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }
}
